<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../vendor/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
</head>

<body>

   
   <header>
    <nav class="navbar justify-content-between fixed-top">
        <div class="row d-block d-lg-none">
            <div class="col">
                <span style="font-size:30px;cursor:pointer" onclick="openSidebar()">&#9776;</span>
                <div id="mySidebar" class="sidebar-overlay brand">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">CLOSE MENU &times;</a>
                    <div class="sidebar-overlay-content">
                        <li><a href="#" class="menu-edit">Edit profile</a></li>
                        <li><a href="#" class="menu-password">Email & password</a></li>
                        <li><a href="#" class="menu-social-channel">Social channels</a></li>
                        <li><a href="notification-brand.html" class="menu-notification">Notifcation settings</a></li>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col logo-web">
                <a href="#" class="navbar-brand"><img src="../../images/topbar/Logo+Description.svg" alt="logo"></a>
            </div>
        </div>
        <div class="middle-menu">
            <ul>
                <li><a href="#" class="pre-production active"></a></li>
                <li><a href="../production-ui/production.html" class="production "></a></li>
                <li><a href="../post-production-ui/post-production.html" class="post-production "></a></li>
            </ul>
        </div>
        <div class="row align-items-center ">
            <div class="col header-ava">
                <!-- <button class="btn"><img class="m-0" src="../../images/icons/nav-bookmark.svg" alt="Bell"></button> -->
                <button class="btn"><img src="../../images/topbar/bell.svg" alt="Bell"></button>
                <a href="#" class="btn avatar "><img class="rounded-circle" src="../../images/ava.png" alt="ava"></a>
            </div>
        </div>
    </nav>
   </header>
   <div class="container-responsive">
    <div class="sidebar">
        <div class="sidebar-body d-flex" style="height: auto; min-height: -webkit-fill-available;">
            <div class="social">
                <ul>
                    <li><a href="#" class="home active"></a></li>
                    <li><a href="youtube/youtube-brand.html" class="dashboard"></a></li>
                    <li><a href="instagram/instagram-brand.html" class="profile"></a></li>
                    <li><a href="facebook/facebook-brand.html" class="orders"></a></li>
                    <li><a href="twitter/twitter-brand.html" class="commits"></a></li>
                    <li><a href="linkedin/linkedin-brand.html" class="bookmarks"></a></li>
                                  
                </ul>
                <ul>
                    <li><a href="#" class="btn avatar m-0"><img class="rounded-circle" src="../../images/ava.png" alt="ava"></a></li>
                    <li><a href="#" class="logout"></a></li>    
                </ul>
                <button class="btn btn-sidebar" id="sidebtn"><img src="../../images/icons/sidebar-arrow.svg" alt="icon"></button>
            </div>
            <div class="menu" id="menu">
                <div class="search-submenu">
                    <input type="text" placeholder="Search">
                    <button><img src="../../images/submenu/search-item.svg" alt="search" ></button>
                </div>
               <ul class="submenu">
                <li><a href="#" class="pre-production-sub "></a></li>
                <li><a href="#" class="screenwriter ">Screenwriter/Scriptwriter...</a></li>
                <li><a href="#" class="social-media-pro">Media Production Writer...</a></li>
                <li><a href="#" class="screenwriter"> Media Production Creative Writer...</a></li>
                <li><a href="#" class="story-producer"> Story Producer</a></li>
                <li><a href="#" class="storyliner active">Storyliner</a></li>
                <li><a href="#" class="script-editor"> Script Editor</a></li>
                <li><a href="#" class="story-producer">Assistant Script Editor </a></li>
                <li><a href="#" class="script-reader ">Script Reader</a></li>
                <li><a href="#" class="media-pro-prop"> Media Production Proposal </a></li>
                <li><a href="#" class="writer">Writer...</a></li>
                <li><a href="#" class="production-planner ">Production Planner</a></li>
                <li><a href="#" class="planning-consultant">Planning Consultant </a></li>
                <li><a href="#" class="location-plan">Location Planner </a></li>
                <li><a href="#" class="location-guide ">Location Guide</a></li>
 
                <!-- <li><a href="notification-brand.html" class="menu-notification">Notifcation settings</a></li> -->
               </ul>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <main id="main">
        <div class="main-section">
         <div class="story go-back articles">
            <div class="top-main">
                <div class="nav-title-back">
                    <a href="#" class="btn"><img src="../../images/storyliner/go-back.svg" alt="back" /></a>
                </div>
                <p>Go back</p>  
                <h1>Storyliners</h1>  
            </div>   
            
            <select id="">
                <option value="sortby">Sort By</option>
                <option value="vlue">value1</option>
            </select>
         </div>
            
         <div class="influencer-data">
            <div class="top-data">
               <div class="top-left">
                <a href="#" class="influencer-img"><img  src="../../images/storyliner/peacock.svg" alt="ava"></a>
                <div class="photo-page-data">
                    <div class="data-item">
                        <label>
                            <p>LabelCom</p>
                        </label>
                        <p>Influencer Name</p>
                    </div>
    
                    <div class="bottom-photopage-data">
                        <div class="data-information">
                            <p>2k</p>
                            <span>Posts</span>
                        </div>
                        <div class="divider"></div>
                        <div class="data-information">
                            <p>1.5M</p>
                            <span>Subscribers</span>
                        </div>
                        <div class="divider"></div>
                        <div class="data-information">
                            <p>22M</p>
                            <span>Comments</span>
                        </div>
                        <div class="divider"></div>
                        <div class="data-information">
                            <p>4.8%</p>
                            <span>Engagement</span>
                        </div>
                    </div>
                </div>

               </div>
               <div class="rating">
                <p>4.7</p>
                <span>Rating</span>
               </div>
            </div>
           
            <div  class="info-photopage">
             <p>   Ultrices fusce nisl sed nibh arcu ullamcorper convallis. Dui nibh turpis varius porta viverra maecenas proin. Amet, urna, sed quis nibh ac curabitur commodo sapien. Fames turpis quam arcu enim massa.</p>
             <div class="info-photopage-img">
                <button><img src="../../images/storyliner/subscribe-active.svg" alt="sub"></button>
                <button><img src="../../images/storyliner/comment.svg" alt="commnet"></button>
             </div>
            </div>
        
         </div>
         
          <div class="filteration">
            <div class="custom-nav-tab-blue violet">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link " id="all-orders-tab" data-bs-toggle="tab" data-bs-target="#all-orders" type="button" role="tab" aria-controls="all-orders" aria-selected="false">Profile</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link " id="work-tab" data-bs-toggle="tab" data-bs-target="#requests" type="button" role="tab" aria-controls="requests" aria-selected="false">Work History</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="photos-tab" data-bs-toggle="tab" data-bs-target="#services" type="button" role="tab" aria-controls="services" aria-selected="false">Photos</a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="videos-tab" data-bs-toggle="tab" data-bs-target="#all-orders" type="button" role="tab" aria-controls="all-orders" aria-selected="true">Videos</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link">Articals</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="social-tab" data-bs-toggle="tab" data-bs-target="#services" type="button" role="tab" aria-controls="services" aria-selected="false">Social Media</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="equip-tab" data-bs-toggle="tab" data-bs-target="#requests" type="button" role="tab" aria-controls="requests" aria-selected="false">Equipment</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link " id="services-tab" data-bs-toggle="tab" data-bs-target="#services" type="button" role="tab" aria-controls="services" aria-selected="false">Services</a>
                    </li>
                </ul>
            </div>
          </div> 

          <div class="request-card video-card about-videos">
            <ul class="video-card-list">
                <li class="box">
                    <div class="top">
                        <div class="img">
                            <img class="" src="../../images/storyliner/film-cadr.svg" alt="service-card" />
                        </div>
                     
                    </div>
                    <div class="social-information">
                       <button class="social-video-icon">
                        <img src="../../images/myicons/vk.svg" alt="vk">
                       </button>
                       <div class="social-video-items">
                        <p>Video Title</p>
                        <span>293.289 views</span>
                       </div>

                    </div>
                </li>
               
                <li class="box">
                    <div class="top">
                        <div class="img">
                            <img class="" src="../../images/storyliner/film-cadr.svg" alt="service-card" />
                        </div>
                     
                    </div>
                    <div class="social-information">
                       <button class="social-video-icon">
                        <img src="../../images/myicons/youtube.svg" alt="vk">
                       </button>
                       <div class="social-video-items">
                        <p>Video Title</p>
                        <span>293.289 views</span>
                       </div>

                    </div>
                </li>
                <li class="box">
                    <div class="top">
                        <div class="img">
                            <img class="" src="../../images/storyliner/film-cadr.svg" alt="service-card" />
                        </div>
                     
                    </div>
                    <div class="social-information">
                       <button class="social-video-icon">
                        <img src="../../images/myicons/youtube.svg" alt="vk">
                       </button>
                       <div class="social-video-items">
                        <p>Video Title</p>
                        <span>293.289 views</span>
                       </div>

                    </div>
                </li>
                <li class="box">
                    <div class="top">
                        <div class="img">
                            <img class="" src="../../images/storyliner/film-cadr.svg" alt="service-card" />
                        </div>
                     
                    </div>
                    <div class="social-information">
                       <button class="social-video-icon">
                        <img src="../../images/myicons/vk.svg" alt="vk">
                       </button>
                       <div class="social-video-items">
                        <p>Video Title</p>
                        <span>293.289 views</span>
                       </div>

                    </div>
                </li>
                <li class="box">
                    <div class="top">
                        <div class="img">
                            <img class="" src="../../images/storyliner/film-cadr.svg" alt="service-card" />
                        </div>
                     
                    </div>
                    <div class="social-information">
                       <button class="social-video-icon">
                        <img src="../../images/myicons/vk.svg" alt="vk">
                       </button>
                       <div class="social-video-items">
                        <p>Video Title</p>
                        <span>293.289 views</span>
                       </div>

                    </div>
                </li>
            </ul>
          
        </div>
        </div>
        
    </main>
</div>

    <footer>
        <div class="container">
            <div class=" footer-items">
              
                    
                
                
                <div class="footer-socials">
                    <div class="footer-logo"><img src="../../images/storyliner/filmnWho.svg"></div>
                    <ul>
                        <li><button class="btn"><img src="../../images/icons/instagram.svg" alt="icon"></button></li>
                        <li><button class="btn"><img src="../../images/icons/facebook.svg" alt="icon"></button></li>
                        <li><button class="btn"><img src="../../images/icons/twitter.svg" alt="icon"></button></li>
                    </ul>
                </div>
                <div class="footer-link footer-top-nav">
                        <ul>
                            <li class="navigation-main"><a href="#">Buyers</a></li>
                            <li><a href="#">Buyers</a></li>
                            <li><a href="#">Buyers pricing</a></li>
                        </ul>
                        <ul>
                            <li class="navigation-main"><a href="#">Seller</a></li>
                            <li><a href="#">Seller</a></li>
                            <li><a href="#">Seller pricing</a></li>
                        </ul>
                        <ul>
                            <li class="navigation-main"><a href="#">Resources</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                        <ul>
                            <li class="navigation-main"><a href="#">About is</a></li>
                            <li><a href="#">Career</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
               
                
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="footer-bottom">
                <p>© filmnWho 2021. All rights reserved</p>
                <a href="#">Terms and Conditions</a>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="../../js/index.js"></script>

  <script>
    let btn = document.querySelector("#sidebtn");    
    let sidebar = document.querySelector(".sidebar");    
    let overlay = document.querySelector(".overlay");    
    
    btn.onclick = function() {
        sidebar.classList.toggle("active"),
        overlay.classList.toggle("active")
    }
    </script>

    
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../../js/custom-chart.js"></script>

</body>

</html>