.campaigns {
    display: grid;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-top: 60px;
}

.campaigns h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #7E847F;
    margin-top: 50px;
    margin-bottom: 20px;
}

.campaigns p {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #212121;
    margin-bottom: 40px;
}

.campaigns button img {
    margin-right: 15px;
}